body {
  margin: 0;
  padding: 0;
}

.app {
  height: 500px;
  width: 300px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  text-align: center;
  margin-top: auto;
  padding: 8px;
  height: 50px;
}

.icon{
  margin-top: 10px;
}
.dropdown{
  display: flex;
  flex-direction: column;
  align-items: center;
}